@import "_top-nav.css";
@import "_first-slider.css";
@import "_shipping.css";
@import "_ads.css";
@import "_category.css";
@import "_special-offer.css";
@import "_custom-owl-slider.css";
@import "_footer.css";
@import "_login-form.css";

@font-face {
  font-family: Vazir-Regular;
  src: url(../fonts/Vazir-Regular.eot), url(../fonts/Vazir-Regular.ttf),
    url(../fonts/Vazir-Regular.woff), url(../fonts/Vazir-Regular.woff2);
}

@font-face {
  font-family: Vazir-Regular-FD;
  src: url(../fonts/Vazir-Regular-FD.eot), url(../fonts/Vazir-Regular-FD.ttf),
    url(../fonts/Vazir-Regular-FD.woff), url(../fonts/Vazir-Regular-FD.woff2);
}

*,
body {
  font-family: Vazir-Regular-FD;
  box-sizing: border-box;
}

p {
  margin: 0;
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px !important;
  }
}

.custom-btn {
  background-color: #ef394e;
  color: rgb(218, 214, 214);
  transition: all 0.5s ease;
}

.custom-btn:hover {
  background-color: #ec3348;
  color: white;
}

.logo {
  color: #ee384e;
  font-weight: bold;
  font-size: 24px;
  display: block !important;
}
